@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    background: #fafafa;
    color: #333;
  }
   
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
   
  * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #FDB619;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}

nav {
    background-color: #FDB619!important;
}

nav .brand-logo {
    color: #633E38;
}

.brand-logo {
    font-family: 'Lilita One', cursive!important;
}

.texts {
    font-family: 'Lilita One', cursive!important;
}

.texts > li > a{
    color: #633E38!important;
}

.label {
    background-color: #633E38!important;
    color:  #FDB619!important;
}

.label > i {
    color:  #FDB619!important;
}

.collection > h2 {
    padding: 15px;
}

a:hover {
    color: #fff!important;
}